ipykernel~=6.29.3
ipython~=8.23.2
matplotlib~=3.8.3
matplotlib-inline~=0.1.6
numpy~=1.26.4
pandas~=2.2.2
tokenizers~=0.15.2
torch~=2.2.2
tqdm~=4.66.2
transformers~=4.39.3
wandb~=0.16.5
scikit-learn ~=1.4.2
accelerate
datasets
evaluate
swifter
flash-attn
peft
lime
scipy